body {
    background: #f7f7f7;
    font-family: 'Arimo', sans-serif;
}

#content {
    font-family: 'Barlow', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.overlay {
    width: 100%;
    background: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    margin: 0 40px;
    font-weight: bold;
}

.header-logo {
    margin: 4px 40px 0px 0px;
}

.header-container a {
    color: #0a2540;
    text-decoration: none;
}

.header-nav:last-child {
    margin-left: 40px;
}

.header-nav > a {
    padding: 10px 20px;
}

.cart-widget-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}